/*
 *
 */
/*
 * variables of project
 */
/*
 * Global styles and resets
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0; }

ul, ol {
  padding: 0; }

body {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #a9a9a9; }
  body main {
    min-height: 1000px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #00bac6; }

.container {
  max-width: 980px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

header .top {
  background-color: #252323; }
header .nav {
  background-color: #ffffff; }

/*
 * Header of project
 */
#page-header .top .logo {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  padding: 20px 15px; }
  #page-header .top .logo span {
    color: #ffffff; }
#page-header .top .social {
  float: right;
  line-height: 64px; }
  #page-header .top .social a {
    font-size: 24px;
    line-height: 1;
    margin: 0 15px;
    color: #c1c1c1;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out; }
    #page-header .top .social a:hover, #page-header .top .social a:active {
      color: #00bac6; }
#page-header .nav {
  border-bottom: 4px solid #f2f2f2; }
  #page-header .nav ul {
    font-size: 0;
    float: left;
    padding: 18px 0; }
    #page-header .nav ul li {
      display: inline-block; }
      #page-header .nav ul li a {
        display: block;
        font-size: 14px;
        padding: 15px;
        line-height: 1;
        position: relative;
        color: #7b7b7b;
        text-transform: uppercase; }
        #page-header .nav ul li a:before {
          content: "";
          display: block;
          height: 2px;
          background-color: transparent;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -20px; }
        #page-header .nav ul li a:hover, #page-header .nav ul li a:active, #page-header .nav ul li a.active {
          color: #00bac6; }
        #page-header .nav ul li a:hover:before, #page-header .nav ul li a:active:before, #page-header .nav ul li a.active:before {
          background-color: #00bac6; }
  #page-header .nav form {
    padding: 22px 15px 22px 0;
    float: right;
    width: 190px;
    position: relative; }
    #page-header .nav form input {
      border: 1px solid #d6d6d6;
      display: block;
      background-color: #ffffff;
      outline: none;
      line-height: 34px;
      font-size: 13px;
      color: #c1c1c1;
      padding: 0 60px 0 20px;
      width: 100%;
      border-radius: 2px; }
    #page-header .nav form button {
      position: absolute;
      display: block;
      right: 18px;
      top: 50%;
      margin-top: -17px;
      height: 34px;
      width: 34px;
      padding: 0 8px;
      font-size: 18px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: #cacaca;
      line-height: 34px; }

/*
 * Home page of project
 */
.slider-section .home-slider .slick-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
.slider-section .home-slider .slick-dots {
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .slider-section .home-slider .slick-dots li {
    display: inline-block;
    margin-right: 8px; }
    .slider-section .home-slider .slick-dots li:last-child {
      margin: 0; }
    .slider-section .home-slider .slick-dots li.slick-active i:before {
      background: #00bac6; }
    .slider-section .home-slider .slick-dots li i {
      cursor: pointer;
      position: relative;
      display: block;
      width: 18px;
      height: 18px; }
      .slider-section .home-slider .slick-dots li i:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: transparent; }
      .slider-section .home-slider .slick-dots li i:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
        border: 5px solid #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
.slider-section .home-slider .slide {
  height: 450px;
  outline: none;
  background: no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; }
  .slider-section .home-slider .slide .container {
    display: table;
    height: 100%; }
    .slider-section .home-slider .slide .container .inner {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      color: #ffffff;
      padding: 0 190px;
      text-align: center; }
      .slider-section .home-slider .slide .container .inner h2 {
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 20px; }
      .slider-section .home-slider .slide .container .inner p {
        font-size: 15px; }

/*
 * Footer of project
 */
#page-footer .wrapper {
  background: url("../img/Layer34.png") center center; }
  #page-footer .wrapper .container {
    padding-top: 40px;
    padding-bottom: 50px; }
    #page-footer .wrapper .container .col {
      width: 25%;
      font-size: 14px;
      padding-right: 40px;
      float: left;
      background: url("../img/Layer34.png") center center; }
      #page-footer .wrapper .container .col h3 {
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 22px; }
      #page-footer .wrapper .container .col article {
        border-bottom: 1px solid #5c5c5c;
        padding-bottom: 20px;
        margin-bottom: 20px; }
        #page-footer .wrapper .container .col article:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0; }
        #page-footer .wrapper .container .col article h4 {
          margin-bottom: 5px;
          line-height: 1.5;
          font-weight: normal;
          color: #c1c1c1; }
        #page-footer .wrapper .container .col article footer i {
          color: #00bac6;
          margin-right: 5px; }
        #page-footer .wrapper .container .col article footer span {
          color: #898989; }
      #page-footer .wrapper .container .col .tags {
        line-height: 1.3; }
        #page-footer .wrapper .container .col .tags a {
          color: #c1c1c1; }
          #page-footer .wrapper .container .col .tags a.hot {
            font-size: 18px;
            color: #ffffff; }
          #page-footer .wrapper .container .col .tags a:hover, #page-footer .wrapper .container .col .tags a:active {
            color: #00bac6; }
      #page-footer .wrapper .container .col.col-about p {
        margin-bottom: 20px;
        color: #c1c1c1; }
        #page-footer .wrapper .container .col.col-about p:last-child {
          margin-bottom: 0; }
      #page-footer .wrapper .container .col.col-contacts p {
        margin-bottom: 20px;
        color: #c1c1c1; }
      #page-footer .wrapper .container .col.col-contacts ul li {
        margin-bottom: 20px; }
        #page-footer .wrapper .container .col.col-contacts ul li i {
          color: #00bac6;
          font-size: 18px;
          margin-right: 20px;
          display: inline-block;
          width: 18px;
          text-align: center; }
        #page-footer .wrapper .container .col.col-contacts ul li a {
          color: #c1c1c1; }
        #page-footer .wrapper .container .col.col-contacts ul li:last-child {
          margin-bottom: 0; }
#page-footer .copyright {
  background: url("../img/Layer3.png") center center; }
  #page-footer .copyright p {
    line-height: 1;
    font-size: 14px;
    float: left;
    margin: 37px 0; }
#page-footer .social {
  float: right;
  line-height: 88px; }
  #page-footer .social a {
    font-size: 24px;
    line-height: 1;
    margin: 0 15px;
    color: #c1c1c1;
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out; }
    #page-footer .social a:hover, #page-footer .social a:active {
      color: #00bac6; }

/*# sourceMappingURL=main.css.map */
