@charset "UTF-8";
/*
 * variables of project
 */
// colors palette
$color-black: #000;
$color-dark-gray: #252323;
$color-gray-darker: #7b7b7b;
$color-gray-darker-2: #a9a9a9;
$color-gray: #c1c1c1;
$color-light-gray: #cacaca;
$color-white: #ffffff;
$color-turquoise: #00bac6;
// fonts
$font-open-sans: 'Open Sans', Arial, Tahoma, sans-serif;
$font-pacifico: 'Pacifico', cursive;
// sizes
$page-width: 980px;

