@charset "UTF-8";
/* footer of project
 *
 */
#page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .wrapper {
    background: url("../img/Layer34.png") center center;
    .container {

      .col {
        width: 25%;
        font-size: 14px;
        padding: 30px 38px;
        float: left;
        background: url("../img/Layer34.png") center center;
        h3 {
          color: $color-white;
          margin-bottom: 18px;
        }
        .tags {
          a {
            color: $color-gray;
            &.hot {
              font-weight: bold;
            }
            &:hover, &:active {
              color: $color-turquoise;
            }
          }
        }
      }
    }
  }
  .copyright {
    background: url("../img/Layer3.png") center center;
    p {
      line-height: 1;
      font-size: 14px;
      float: left;
      margin: 37px 0;
    }
  }
  .social {
    float: right;
    line-height: 88px;
    a {
      font-size: 24px;
      line-height: 1;
      margin: 0 15px;
      color: $color-gray;
      -webkit-transition: color 300ms ease-out;
      -moz-transition: color 300ms ease-out;
      -o-transition: color 300ms ease-out;
      transition: color 300ms ease-out;
      &:hover, &:active {
        color: $color-turquoise;
      }
    }
  }
}